* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html{
  width:100%;
  height:100%;
  font-size:62.5%;
}

body{
  font-family: monospace;
  height:100%;
  border:1px solid black;
}

#app{
  display:grid;
  grid-template-rows: 4rem 6rem 1fr;
  width:100%;
  height:100%;
}

.nav{
  border:1px solid black;
}
.header{
  border:1px solid black;
}

.main{
  height:100%;
  width:100%;
  border:1px solid black;
  display:grid;
  grid-template-rows: 1fr 10rem;
}

#mainCanvas{
  width:100%;
  height:100%;
}

.main-controls{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}
.main-controls__text{
  display: block;
  width:100%;
  text-align:center;
}
.main-controls__button{
  width: 3rem;
  padding: 1rem;
  border: 2px solid black;
}